!!!!!!!!!/* Couleurs Tango */
!!!!!!!!!URxvt.foreground: #C8C8C8
!!!!!!!!!URxvt.background: #323232
!!!!!!!!!URxvt.color0: #2E3436
!!!!!!!!!URxvt.color1: #CC0000
!!!!!!!!!URxvt.color2: #4E9A06
!!!!!!!!!URxvt.color3: #C4A000
!!!!!!!!!URxvt.color4: #3465A4
!!!!!!!!!URxvt.color5: #75507B
!!!!!!!!!URxvt.color6: #06989A
!!!!!!!!!URxvt.color7: #D3D7CF
!!!!!!!!!URxvt.color8: #555753
!!!!!!!!!URxvt.color9: #EF2929
!!!!!!!!!URxvt.color10: #8AE234
!!!!!!!!!URxvt.color11: #FCE94F
!!!!!!!!!URxvt.color12: #729FCF
!!!!!!!!!URxvt.color13: #AD7FA8
!!!!!!!!!URxvt.color14: #34E2E2
!!!!!!!!!URxvt.color15: #EEEEEC
!!!!!!!!! 
!!!!!!!!!URxvt.transparent: true
!!!!!!!!!URxvt.shading: 10
!!!!!!!!!URxvt.fading: 40
!!!!!!!!!!URxvt.font: xft:Mono:pixelsize=12.5


! -- Pencil -------------------------------------------------------- {{{
!
! A color scheme inspired by iA Writer
! <https://github.com/reedes/vim-colors-pencil>
!
! }}}
! -- Colors -------------------------------------------------------- {{{
! Base
*background: #212121
*foreground: #d9d9d9
*cursorColor: #20bbfc
! Black
*color0: #212121
*color8: #424242
! Red
*color1: #c30771
*color9: #fb007a
! Green
*color2: #10a778
*color10: #5fd7af
! Yellow
*color3: #a89c14
*color11: #f3e430
! Blue
*color4: #008ec4
*color12: #20bbfc
! Magenta
*color5: #523c79
*color13: #6855de
! Cyan
*color6: #20a5ba
*color14: #4fb8cc
! White
*color7: #d9d9d9
*color15: #f1f1f1
! }}}
! vim:foldmethod=marker:filetype=xdefaults

URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
!URxvt.transparent: true
URxvt.shading: 10
URxvt.fading: 20
URxvt.buffered: true

urxvt.font: xft:Fira Code:size=8:antialias=true:style=Retina,\
                xft:Droid Sans Fallback:antialias=true:size=12

!urxvt.boldFont: xft:Ubuntu Mono:size=18:antialias=false:bold,\
!                xft:Noto Sans CJK SC Bold:antialias=true:size=20


!urxvt.letterSpace:-1

!urxvt.boldFont: xft:Ubuntu Mono:size=18:antialias=True,
!            xft:Noto Sans CJK SC:size=18:antialias=True
!URxvt.faceNameDoublesize: Noto Sans CJK SC
!! XTerm*faceNameDoublesize: WenQuanYi Micro Hei
!URxvt*faceSize: 18
!! XTerm*reverseVideo: on
urxvt.url-launcher: /usr/bin/google-chrome
urxvt.cutchars:        `()'*<>[]{|}"
urxvt.url-select.underline: true
urxvt.perl-ext-common: default,matcher,hlight,selection-autotransform
urxvt.selection-autotransform.0: s|[ ]+$||gm
urxvt.matcher.button: C1
urxvt.matcher.pattern.1:    (?# go|who)                                         (?<![\/\\w-])(go|who)\/[\\w-\/]+
urxvt.matcher.pattern.2:    (?# depot)                                          (?<=\/\/)depot/[^ )]+
!urxvt.matcher.pattern.3:    (?# google3)                                       (?<=\/\/)google3/([^ )]+)
urxvt.matcher.pattern.3:    (?# google3)                                        google3/(?!runfiles/)([a-zA-Z0-9_/.-]+)
urxvt.matcher.pattern.4:    (?# anything followed with a number)                (?<=[\\W])(?:[\\w]+)\/\\d+
urxvt.matcher.pattern.5:    (?# bns)                                            (?<=[\\s"]/)bns/([\\w/.-]+)
urxvt.matcher.pattern.6:    (?# critique)                                       (?:Change|CL|(?:P4[ ]change|review_cl):?|(?:perforce|p4)[ ]at)[ ](\\d+)|CL[ ]@(\\d+)
urxvt.matcher.launcher.6: /usr/bin/google-chrome cl/$1
urxvt.matcher.pattern.7:    (?# blade target)                                   (?<!:)blade:([\\w-]+)
urxvt.matcher.launcher.7: /usr/bin/google-chrome vi/gslb/blade:$1
urxvt.matcher.pattern.8:    (?# buganizer)                                      BUG=(\\d+)
urxvt.matcher.launcher.8: /usr/bin/google-chrome b/$1
urxvt.matcher.pattern.9:   (?# other google3 files w/ target)                  (?<!:)\/\/([^ ):]+):([\\w.-]+[\\w])
urxvt.matcher.launcher.9: /usr/bin/google-chrome cs/f:$1/BUILD%20symbol:$2
urxvt.matcher.pattern.10:   (?# other google3 files)                            (?<!:)\/\/([\\w\/.-]+)
urxvt.matcher.launcher.10: /usr/bin/google-chrome google3/$1
urxvt.matcher.pattern.11:   (?# file with line number)                         ([\\w-]+[.](?:py|cc|h):\\d+)\]
urxvt.matcher.launcher.11: /usr/bin/google-chrome cs/$1
urxvt.matcher.pattern.12:   (?# python import)                                 import[ ](google3(?:\\.[a-zA-Z_]+)+)
urxvt.matcher.launcher.12: /usr/bin/google-chrome cs/$1
urxvt.matcher.pattern.13:   (?# python from ... import...)                     from[ ](google3(?:\\.[a-zA-Z0-9_]+)+)[ ]import[ ]([a-zA-Z0-9_]+)
urxvt.matcher.launcher.13: /usr/bin/google-chrome cs/$1.$2

urxvt.scrollBar: false
urxvt.colorUL: #4682B4
!urxvt.loginShell: true
!URxvt*hlight.0: (?<=[(]hg[)]-[[])[^*]+(?=[*])
!URxvt*hlight.rend.0: fg:3 Bold
